<div class="container py-2">
  <div class="shadow-lg heading rounded p-2 mt-4">
    <div class="row m-0">
      <div class="col text-start">
        <h3><strong> Prasad Shinde </strong><small><i> - Java Full Stack</i></small></h3>
        <small>Contact - 9405191043 , </small>
        <small>Email - shindeprasad497@gmail.com</small>
      </div>
      <div class="col text-end">
        <a href="/assets/profile.jpg" download="profile.jpg" target="_blank">
          <img src="https://img.icons8.com/fluency/42/000000/download.png" />
        </a>
        <a href="https://www.linkedin.com/in/prasad-v-shinde">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48px" height="48px">
            <path fill="#0288d1" d="M24 4A20 20 0 1 0 24 44A20 20 0 1 0 24 4Z" />
            <path fill="#fff"
              d="M14 19H18V34H14zM15.988 17h-.022C14.772 17 14 16.11 14 14.999 14 13.864 14.796 13 16.011 13c1.217 0 1.966.864 1.989 1.999C18 16.11 17.228 17 15.988 17zM35 24.5c0-3.038-2.462-5.5-5.5-5.5-1.862 0-3.505.928-4.5 2.344V19h-4v15h4v-8c0-1.657 1.343-3 3-3s3 1.343 3 3v8h4C35 34 35 24.921 35 24.5z" />
          </svg>
        </a>
      </div>

      <hr>
      <div class="mb-2 px-5"> 4 years of experience as “Software Engineer” in design, development,
        implementation and maintenance of Enterprise applications using Java/J2EE, Angular, HTML/CSS,
        Spring boot and JPA based technologies across banking, pharma, education domains.</div>
    </div>
  </div>
  <div class="row p-2">
    <div class="col-8 p-2">
      <h5><i>Experience</i></h5>
      <div class="card my-1">
        <div class="card-header">
          <h6><b>Ernst & Young</b> /<small> Consultant - SDE2</small></h6>
          <i>September 2021 to Present, Pune, Maharashtra</i>
        </div>
        <div class="card-body"></div>
      </div>

      <div class="card my-1">
        <div class="card-header">
          <h6><b>Neebal Technologies</b> / <small> Software Engineer</small></h6>
          <i>October 2018 to September 2021, Mumbai, Maharashtra</i>
        </div>
        <div class="card-body">
          <p>● Worked on design, development, implementation and maintenance of Enterprise Applications.</p>
          <p>● Good knowledge of software development fundamentals product lifecycle, requirement analysis, testing and
            API documentation.</p>
          <p>● Make good technical decisions that provide solutions to business challenges and recommend software
            improvements to ensure strong functionality and optimization.</p>
          <p>● Also worked on API Integration of Jenkins, Active Directory in spring boot application.</p>
          <p>● Good knowledge of Java fundamentals and OOP</p>
        </div>
      </div>

      <div class="card my-1">
        <div class="card-header">
          <h6><b>Arcons Technology</b> / <small> Software Trainee Intern</small></h6>
          <small><i>September 2017 to July 2018, Nashik, Maharashtra</i></small>
        </div>
        <div class="card-body">
          <p>● This is an industrial experience from domain experts and also gained practical knowledge about design and
            development of mobile applications(Multi-platform Ofﬁce Utility System) using xamarin and .net mvc.</p>
        </div>
      </div>

    </div>
    <div class="col-4 p-2">
      <h5><i>Skills</i></h5>
      <div class="card my-1">
        <div class="card-header">
          <h6>Languages</h6>
        </div>
        <div class="card-body">
          Java, Angular, Sql, Javascript, Jquery, Shell script, Type Script, ReactJs, HTML, CSS
        </div>
      </div>
      <div class="card my-1">
        <div class="card-header">
          <h6>Version Control</h6>
        </div>
        <div class="card-body">
          Git, Bitbucket and Github
        </div>
      </div>
      <div class="card my-1">
        <div class="card-header">
          <h6>Software and Automation Tools</h6>
        </div>
        <div class="card-body">
          Eclipse, MySQL Workbench, Oracle SQL Developer, Postgres PgAdmin3/4, Visual Studio, Jenkins, Sonarqube, Postman, Jira, Splunk
        </div>
      </div>
      <div class="card my-1">
        <div class="card-header">
          <h6>Build Tools</h6>
        </div>
        <div class="card-body">
          Apache Maven
        </div>
      </div>
      <div class="card my-1">
        <div class="card-header">
          <h6>Framework and Architecture</h6>
        </div>
        <div class="card-body">
          Spring Boot,Spring MVC, Bootstrap, Jhipster, JDBC
        </div>
      </div>
    </div>
  </div>
</div>